TransactionServiceImpl/Service References/TransactionWCF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TransactionServiceInterface" />
  <xs:element name="CreatePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TransactionServiceInterface" minOccurs="0" name="req" nillable="true" type="q1:CreatePaymentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TransactionServiceInterface" minOccurs="0" name="CreatePaymentResult" nillable="true" type="q2:CreatePaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>