TransactionServiceAdaptor/Service References/IDMService/WCFIDMServiceApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://itdev02.carpassad.co.th:8081/idm/service/current/WCFIDMServiceApplication.WCFIDMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IDM.Dto" />
  <xs:import schemaLocation="http://itdev02.carpassad.co.th:8081/idm/service/current/WCFIDMServiceApplication.WCFIDMService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IDMServiceApplication" />
  <xs:element name="GetSystemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q1:GetSystemByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetSystemByIdResult" nillable="true" type="q2:GetSystemByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountsByPartyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q3:GetUserAccountsByPartyIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountsByPartyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetUserAccountsByPartyIdResult" nillable="true" type="q4:GetUserAccountsByPartyIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySystemId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q5:GetUsersBySystemIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBySystemIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetUsersBySystemIdResult" nillable="true" type="q6:GetUsersBySystemIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q7:GetUserByUsernameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetUserByUsernameResult" nillable="true" type="q8:GetUserByUsernameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q9:GetUserByUserIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetUserByUserIdResult" nillable="true" type="q10:GetUserByUserIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSummaryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="req" nillable="true" type="q11:GetUserSummaryByNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSummaryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="GetUserSummaryByNameResult" nillable="true" type="q12:GetUserSummaryByNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSummaryFromUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="req" nillable="true" type="q13:GetUserSummaryFromUserIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSummaryFromUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="GetUserSummaryFromUserIdResult" nillable="true" type="q14:GetUserSummaryFromUserIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOrganizationExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q15:IsOrganizationExistedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOrganizationExistedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="IsOrganizationExistedResult" nillable="true" type="q16:IsOrganizationExistedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q17:IsPersonExistedRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonExistedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="IsPersonExistedResult" nillable="true" type="q18:IsPersonExistedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q19:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="LoginResult" nillable="true" type="q20:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q21:LogoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="LogoutResult" nillable="true" type="q22:LogoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q23:RegisterCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="RegisterCustomerResult" nillable="true" type="q24:RegisterCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q25:RegisterPartnerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="RegisterPartnerResult" nillable="true" type="q26:RegisterPartnerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q27:ResetPasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q28:ResetPasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q29:ResetPasswordByAdminRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ResetPasswordByAdminResult" nillable="true" type="q30:ResetPasswordByAdminResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q31:UpdateOrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="UpdateOrganizationResult" nillable="true" type="q32:UpdateOrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q33:UpdatePersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q34:UpdatePersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonByIdentificationNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q35:UpdatePersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonByIdentificationNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="UpdatePersonByIdentificationNoResult" nillable="true" type="q36:UpdatePersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q37:GetPersonHistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPersonHistoriesResult" nillable="true" type="q38:GetPersonHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q39:GetOrganizationHistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOrganizationHistoriesResult" nillable="true" type="q40:GetOrganizationHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q41:GetUserAccountHistoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetUserAccountHistoriesResult" nillable="true" type="q42:GetUserAccountHistoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q43:ChangePasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q44:ChangePasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q45:ChangePasswordByAdminRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangePasswordByAdminResult" nillable="true" type="q46:ChangePasswordByAdminResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q47:ChangeQuestionAnswerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuestionAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangeQuestionAnswerResult" nillable="true" type="q48:ChangeQuestionAnswerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuestionAnswerByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q49:ChangeQuestionAnswerByAdminRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuestionAnswerByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangeQuestionAnswerByAdminResult" nillable="true" type="q50:ChangeQuestionAnswerByAdminResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q51:ChangeUsernameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangeUsernameResult" nillable="true" type="q52:ChangeUsernameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUsernameByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q53:ChangeUsernameByAdminRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUsernameByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="ChangeUsernameByAdminResult" nillable="true" type="q54:ChangeUsernameByAdminResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q55:CreateOrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="CreateOrganizationResult" nillable="true" type="q56:CreateOrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q57:CreatePersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="CreatePersonResult" nillable="true" type="q58:CreatePersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q59:CreateUserAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="CreateUserAccountResult" nillable="true" type="q60:CreateUserAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q61:GenerateUserAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GenerateUserAccountResult" nillable="true" type="q62:GenerateUserAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q63:GetAllCustomerCategoriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetAllCustomerCategoriesResult" nillable="true" type="q64:GetAllCustomerCategoriesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetAllOrganizationSummaryResult" nillable="true" type="q65:GetAllOrganizationSummaryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartnerCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q66:GetAllPartnerCategoriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPartnerCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetAllPartnerCategoriesResult" nillable="true" type="q67:GetAllPartnerCategoriesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q68:GetAllQuestionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetAllQuestionsResult" nillable="true" type="q69:GetAllQuestionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q70:GetAllSystemsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetAllSystemsResult" nillable="true" type="q71:GetAllSystemsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q72:GetCustomerCategoryByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetCustomerCategoryByIdResult" nillable="true" type="q73:GetCustomerCategoryByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByPartyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q74:GetOrganizationByPartyIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByPartyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOrganizationByPartyIdResult" nillable="true" type="q75:GetOrganizationByPartyIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByRegistNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q76:GetOrganizationByRegistNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByRegistNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOrganizationByRegistNoResult" nillable="true" type="q77:GetOrganizationByRegistNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q78:GetOrganizationsByNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOrganizationsByNameResult" nillable="true" type="q79:GetOrganizationsByNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="req" nillable="true" type="q80:GetOrganizationByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/IDMServiceApplication" minOccurs="0" name="GetOrganizationByShortNameResult" nillable="true" type="q81:GetOrganizationByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByShortName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q82:GetOrganizationsByShortNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsByShortNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOrganizationsByShortNameResult" nillable="true" type="q83:GetOrganizationsByShortNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOttByTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q84:GetOttByTicketRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOttByTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetOttByTicketResult" nillable="true" type="q85:GetOttByTicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q86:GetPartnerCategoryByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPartnerCategoryByIdResult" nillable="true" type="q87:GetPartnerCategoryByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartyByPartyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q88:GetPartyByPartyIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartyByPartyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPartyByPartyIdResult" nillable="true" type="q89:GetPartyByPartyIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q90:GetPeopleByNameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPeopleByNameResult" nillable="true" type="q91:GetPeopleByNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByIdNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q92:GetPersonByIdNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByIdNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPersonByIdNoResult" nillable="true" type="q93:GetPersonByIdNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByPartyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q94:GetPersonByPartyIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByPartyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetPersonByPartyIdResult" nillable="true" type="q95:GetPersonByPartyIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="req" nillable="true" type="q96:GetQuestionByIdRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/IDM.Dto" minOccurs="0" name="GetQuestionByIdResult" nillable="true" type="q97:GetQuestionByIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>