TransactionServiceAdaptor/Service References/SmsGatewayService/SmsGatewayWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.carpass.co.th/2010/06/ThinkSmartSmsReceiveContract" elementFormDefault="qualified" targetNamespace="http://schemas.carpass.co.th/2010/06/ThinkSmartSmsReceiveContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThinkSmartSmsReceiveContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Originator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmsTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThinkSmartSmsReceiveContract" nillable="true" type="tns:ThinkSmartSmsReceiveContract" />
</xs:schema>