TransactionServiceAdaptor/Service References/SmsGatewayService/SmsGatewayWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.carpass.co.th/2010/06/AisSmsReceiveContract" elementFormDefault="qualified" targetNamespace="http://schemas.carpass.co.th/2010/06/AisSmsReceiveContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AisSmsReceiveContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrontEndType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AisSmsReceiveContract" nillable="true" type="tns:AisSmsReceiveContract" />
</xs:schema>