TransactionServiceAdaptor/Service References/SmsGatewayService/SmsGatewayWcf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sms.carpass.co.th/SmsGateway/Service/current/SmsGatewayWcf.SmsGateway.svc?xsd=xsd2" namespace="http://schemas.carpass.co.th/2010/06/AisSmsReceiveContract" />
  <xs:import schemaLocation="http://sms.carpass.co.th/SmsGateway/Service/current/SmsGatewayWcf.SmsGateway.svc?xsd=xsd3" namespace="http://schemas.carpass.co.th/2010/06/ThinkSmartSmsReceiveContract" />
  <xs:element name="SendSmsViaAis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceSn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsViaAisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSmsViaAisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromAis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.carpass.co.th/2010/06/AisSmsReceiveContract" minOccurs="0" name="aisSmsReceiveContract" nillable="true" type="q1:AisSmsReceiveContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromAisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsViaThinkSmart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toMobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceSn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsViaThinkSmartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSmsViaThinkSmartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromThinkSmart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.carpass.co.th/2010/06/ThinkSmartSmsReceiveContract" minOccurs="0" name="thinkSmartSmsReceiveContract" nillable="true" type="q2:ThinkSmartSmsReceiveContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromThinkSmartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromPolice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleDetail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licensePlate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shortLicensePlateProvince" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anotherInformation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSmsFromPoliceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveSmsFromPoliceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>